.legal-info.incorrect {
			z-index: 50;
		}
		.legal-info.incorrect .drop-it-down {
			border-color: #9A5341;
		}
		.legal-info.incorrect::before {
			opacity: 1;
			transform: translateY(0);
		}
		.legal-info.incorrect::after {
			opacity: 1;
			transform: translateY(0);
		}
		.legal-info::before {
			background-color: #9A5341;
			bottom: 62px;
			color: #fff;
			content: "Пожалуйста, \a отметьте пункт.";
			font-family: Arial !important;
			font-size: 14px;
			left: -86px;
			padding: 20px 15px;
			position: absolute;
			text-align: center;
			opacity: 0;
			transform: translateY(12px);
			white-space: pre;
			width: 180px;
			transition: opacity 200ms ease 0s, transform 200ms ease 0s;
			box-sizing: content-box;
		}
		.legal-info::after {
			border-color: #9A5341 transparent transparent;
			border-style: solid;
			border-width: 6px;
			bottom: 50px;
			content: "";
			display: block;
			left: 15px;
			opacity: 0;
			position: absolute;
			transform: translateY(12px);
			transition: opacity 200ms ease 0s, transform 200ms ease 0s;
		}
		.legal-info.incorrect .agree_rules:not(checked) + label::before{
			border-color: #9A5341;
		}
		.legal-info.incorrect:hover .agree_rules:not(checked) + label::before{
			/*border-color: #9A5341;*/
		}
		/*---------------------------------------------------------------------*/

		.show-legal {
			bottom: 8px;
			display: block;
			font-size: 14px;
			left: 57px;
			position: relative;
			text-decoration: none !important;
			width: 124px;
			white-space: nowrap;
		}
		.legal-info {
			position: relative;
			margin-bottom: 75px;
		}
		.agree_rules:not(checked) {
			position: absolute;
			opacity: 0;
		}
		.agree_rules:not(checked) + label {
			color: #000;
			display: inline-block;
			font-family: Arial !important;
			font-size: 14px;
			font-weight: normal;
			line-height: 30px;
			margin-right: 50px;
			padding: 0 0 0 58px;
			position: relative;
			cursor: pointer;
		}
		.agree_rules:not(checked) + label::before {
			background: transparent;
			border: 1px solid #505050;
			box-sizing: border-box;
			content: "";
			height: 40px;
			left: 0;
			position: absolute;
			top: 5px;
			transition: border-color 200ms ease 0s;
			width: 40px;
		}
		.agree_rules:not(checked) + label::after {
			background: transparent url("../images/icons/checked.png") no-repeat scroll 15px 18px;
			content: "";
			height: 40px;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			transition: opacity 200ms ease 0s;
			width: 40px;
		}
		.agree_rules:checked + label::after {
			opacity: 1;
		}
/*
		.agree_rules:hover + label::before {
			border: 1px solid #fff;
			background: #fff;
		}
*/


/*
		POP UP
		*/
		.gm-style .gm-style-iw__testdrive {
			width: 250px !important;
			padding: 30px !important;
			box-sizing: border-box;
		}
		.pop_text__test-drive > span {
			color: #959595;
		}
		/*
		MAP and LEGAL POPUP
		*/
		.test-drive-popup {
			background: #fff;
			position: absolute;
			width: 940px;
			height: 550px;
			top: 50%;
			left: 0;
			right: 0;
			margin: -275px auto 0;
			z-index: 150;
			box-sizing: border-box;
		}
		.test-drive-popup__map #map_canvas {
			height: 550px;
		}
		.test-drive-popup__legal {
			padding: 45px 55px;
		}
		.test-drive-popup__legal h2 {
			font-family: "ModernHBold";
			font-size: 30px;
			line-height: 1;
			margin-bottom: 25px;
		}
		.test-drive-popup__legal .offers__text{
			font-size: 13px;
			font-family: "Arial", sans-serif;
			width: 380px;
			color: #505050;
			line-height: 1;
			line-height: 1.385;
			text-align: left;
		}
		.test-drive-popup__legal .offers__text strong{
			font-weight: 800;
		}
		.test-drive-popup__legal .offers__text:last-child{
			margin-left: 70px;
		}
		.closeIt {
			background: #9a9a9a none repeat scroll 0 0;
			box-sizing: border-box;
			color: #fff;
			cursor: pointer;
			font-size: 32px;
			height: 48px;
			padding: 0 0 0 15px;
			position: absolute;
			right: 0;
			top: 0;
			width: 48px;
			z-index: 155;
			transition: background 200ms;
			-webkit-transition: background 200ms;
		}
		.closeIt:hover {
			background: #9A5341;
		}
		#test-drive-response {
			background: url('images/icons/check.jpg') no-repeat center 45px #fff;
			bottom: 0;
			box-sizing: border-box;
			height: 260px;
			left: 0;
			margin: auto;
			padding: 80px 0 40px;
			position: absolute;
			right: 0;
			top: 0;
			width: 465px;
			z-index: 150;
		}
		#test-drive-response h2 {
			font-family: "ModernH";
			font-size: 25px;
			font-weight: bold;
			line-height: 40px;
			margin-bottom: 5px;
			text-align: center;
		}
		#test-drive-response .text {
			color: #7e7e7e;
			line-height: 24px;
			text-align: center;
			display: none;
		}
		.overlayed {
			display: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.8);
			position: fixed;
			z-index: 200;
		}
		/*
		.overlayed.map-wrap {
			left: -999999px;
			display: block;
		}
		*/

		.layout-black {
			background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
			border: 0 none;
			display: none;
			height: 100%;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			z-index: 1000;
		}
		.progress-ring-wrap {
			left: 50%;
			margin-left: -100px;
			margin-top: -100px;
			opacity: 1;
			top: 50%;
			z-index: 10000;
		}
		.legal-info::before {
			padding: 0 !important;
		}
		.progress-ring {
			animation: 1.5s linear 0s normal none infinite running spin360;
		}
		@keyframes spin360 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		@keyframes spin360 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		@keyframes spin360 {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

.fleft {
			float: left;
		}
		.fright {
			float: right;
		}
		.skyblue{
			color: #9A5341 !important;
		}


/*	PERSONAL BLOCK	*/
		.selectMr__wrap {
			height: 45px;
			width: 290px;
			margin-bottom: 17px;
			/*color: #9A5341;*/
			/*background-color: #9A5341;*/
		}
		/* ie8 */
		.selectMr__option {
			vertical-align: top;
			margin: 0 3px 0 0;
			width: 17px;
			height: 17px;
		}
		.selectMr__option + label {
			cursor: pointer;
		}

		/* modern */
		.selectMr__option:not(checked) {
			position: absolute;
			opacity: 0;
		}
		.selectMr__option:not(checked) + label {
			color: #000;
			display: inline-block;
			font-family: "GenesisSansTextKROTFRegular",sans-serif;
			font-size: 15px;
			line-height: 45px;
			padding: 0 0 0 45px;
			position: relative;
		}
		.selectMr__wrap > label:last-of-type {
			float: right;
			padding-right: 10px;
		}
		.selectMr__option:not(checked) + label::before {
			background: transparent none repeat scroll 0 0;
			border: 1px solid #505050;
			border-radius: 18px;
			box-sizing: border-box;
			content: "";
			height: 35px;
			left: 0;
			position: absolute;
			top: 5px;
			transition: border-color 200ms ease 0s;
			width: 35px;
		}
		.selectMr__option:not(checked) + label::after {
			background: #9A5341 none repeat scroll 0 0;
			border-radius: 5px;
			content: "";
			height: 9px;
			left: 13px;
			opacity: 0;
			position: absolute;
			top: 18px;
			transition: opacity 200ms ease 0s;
			width: 9px;
		}
		.selectMr__option:checked + label::after {
			opacity: 1;
		}
		.selectMr__option:hover + label::before {
/*
			border: 1px solid #fff;
			background: #202020;
*/
		}